{% extends "base.html" %}

{% block content %}
    <p></p>
    <h2 align="center">Works log</h2>
    {% if current_user.is_authenticated %}
        <a class="btn btn-secondary" href="/addjob">Add job</a>
    {% endif %}
    {% for elem in jobs %}
        <h3>Action # {{elem.id}}</h3>
        <table class="table table-borderless">
          <thead class="table-secondary">
            <tr>
              <td scope="col" class="title">Title of activity</td>
              <td scope="col" class="leader">Team leader</td>
              <td scope="col" class="duration">Duration</td>
              <td scope="col" class="members">List of collaborators</td>
              <td scope="col" class="is_finished">Is finished</td>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td scope="row" class="cell">{{elem.job.capitalize()}}</td>
              <td class="cell">{{users[elem.team_leader]}}</td>
              <td class="cell">{{elem.work_size}} hours</td>
              <td class="cell" align="center">{{elem.collaborators}}</td>
               {% if elem.is_finished == 0%}
                    <td class="not_finish">Is not finished</td>
               {% else %}
                    <td class="finish">Is finished</td>
               {% endif %}
            </tr>
          </tbody>
        </table>
        {% if current_user.is_authenticated and (current_user.id == 1  or
        current_user.id == elem.team_leader)%}
             <div>
                <a class="btn btn-warning" href="/addjob/{{ elem.id }}">Edit job</a>
                <a class="btn btn-danger" href="/job_delete/{{ elem.id }}">Delete job</a>
             </div>
         {% endif %}
    {% endfor %}

{% endblock %}
